.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.TopLeftNavBar  {
  justify-content: flex-start;
 }

.TopNavBar ul {
  list-style: none;
  padding-inline-start: 0;
  margin: 0; 
  
  background: deepskyblue;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
   justify-content: space-between;
}

.TopNavBar a,.TopNavBar div {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

.TopNavBar a:hover {
  background: #00b7f5;
}

.Isi{
  padding: 20px;
}

.Header{
  display: flex;  
  background: greenyellow;
  height: 150px;
  padding: 10px;
  
}

.Header .Foto{
  background: red;
  width: 150px;
 
}

.Header .Properties{
display: flex;
flex-direction: column;
align-content: flex-start;
align-self: flex-start;
text-align: left;
background: orange;
width: 100%;
height: 100%;
margin-left: 10px;
}


.Header-Poperties-isi2{
  display: flex;
  flex-direction: row;
}

.Header-Properties-lbl{
  background: magenta;
}

.Header-Properties-Isi{
  background:blueviolet;
}

.Header-Properties-lbl, .Header-Properties-Isi{
  display: flex;
  flex-direction: column;
}



.Header div{
  text-align: left;  
}

.List-Cart{
  display: flex;
  justify-content: space-between;
}

.list-card{
  background: yellow
}
